<div class="pages">
    <a href="?page=1" title="Предыдущая страница">«</a>
    <a href="?page=1">1 </a>
    <a href="?page=2">2 </a>
    <a href="?page=3">3 </a>
    <a href="?page=4">4 </a>
    <a href="?page=5">5 </a>
    <a href="?page=6">6 </a>
    <a class="pages-change" title="Выбрать другую страницу">...</a>
    <a href="?page=10">10 </a>
    <a href="?page=11">11 </a>
    <a href="?page=12">12</a>
    <a class="pages-change" title="Выбрать другую страницу">...</a>
    <a href="?page=25">25 </a>
    <a href="?page=26">26 </a>
    <a href="?page=27">27</a>
    <a href="?page=200" title="Следующая страница">«</a>
</div>

<div class="movie"><app-movie *ngFor="let m of movies" [movie]="m"></app-movie></div>

<div class="pages">
    <a href="?page=1" title="Предыдущая страница">«</a>
    <a href="?page=1">1 </a>
    <a href="?page=2">2 </a>
    <a href="?page=3">3 </a>
           <a href="?page=4">4 </a>
    <a href="?page=5">5 </a>
    <a href="?page=6">6 </a>
    <a class="pages-change" title="Выбрать другую страницу">...</a>
    <a href="?page=10">10 </a>
    <a href="?page=11">11 </a>
    <a href="?page=12">12</a>
    <a class="pages-change" title="Выбрать другую страницу">...</a>
    <a href="?page=25">25 </a>
    <a href="?page=26">26 </a>
    <a href="?page=27">27</a>
        <a href="?page=200" title="Следующая страница">«</a>
</div>